

<h3>Step 2</h3>
City<br><input [(ngModel)]="city" type="text"/><br><br>
Street<br><input [(ngModel)]="street" type="text"/><br><br>
Name<br><input [(ngModel)]="Name" type="text"/><br><br>
Last Name<br><input [(ngModel)]="lastName" type="text"/><br><br>
<p id='commont' [(ngModel)]="commont" ngDefaultControl>{{commont}}</p>
<input type="button" class="signBtn btn btn-primary" value="sign" (click)='step2()'/><br>
<div class="arrowdiv">
<img class="arrow" height="30px;" src='assets/images/rArrow.png'/>
</div>